<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/logout">Logout</a>
        </li>
      </ul>
  <div class="row">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <label for="username">Preferred Name</label>
          <input  type="text"
                  class="form-control" 
                  id="username"
                  placeholder="placeholder"
                  (input)="updateUsername($event)"/>
        </div>
        <div class="form-group">
          <label for="sex">Sex</label>
          <input  type="text" 
                  class="form-control" 
                  id="sex" 
                  (input)="updateSex($event)"/>
        </div>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input  type="email" 
                  class="form-control" 
                  id="email" 
                  placeholder="Email"
                  (input)="updateEmail($event)"/>
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input  type="password" 
                  class="form-control" 
                  id="password" 
                  [value]="text"
                  (input)="updatePassword($event)"/>
        </div>
        <div class="form-group">
          <label for="ageInput">Age</label>
          <input  type="number" 
                  class="form-control" 
                  id="age" 
                  [value]="text"
                  (input)="updateAge($event)"/>
        </div>
        <div class="form-group">
          <label for="heightInput">Height</label>
          <input  type="number" 
                  class="form-control" 
                  id="height" 
                  [value]="number"
                  (input)="updateHeight($event)"/>
        </div>
        <div class="form-group">
          <label for="weightInput">Weight</label>
          <input  type="number" 
                  class="form-control" 
                  id="weight" 
                  [value]="text"
                  (input)="updateWeight($event)"/>
        </div>
         <div class="form-group">
          <label for="goals">Goal</label>
          <input  type="number" 
                  class="form-control" 
                  id="goal" 
                  [value]="text"
                  (input)="updateGoals($event)"/>
        </div>
        <div class="form-group">
          <label for="pushups">Pushups</label>
          <input  type="number" 
                  class="form-control" 
                  id="pushups" 
                  [value]="text"
                  (input)="updatePushUps($event)"/>
        </div>
        <div class="form-group">
          <label for="squats">Squats</label>
          <input  type="number" 
                  class="form-control" 
                  id="squats" 
                  [value]="text"
                  (input)="updateSquats($event)"/>
        </div>
        <div class="form-group">
          <label for="miles">Jogging</label>
          <input  type="number" 
                  class="form-control" 
                  id="miles"
                  [value]="text"
                  (input)="updateMiles($event)"/>
        </div>
      </form>
      <!-- <ul>
        <div class="slidecontainer">
          <li class="list-item">
            Goals
              <input type="range" min="1" max="3" value="2" class="slider" id="myRange">
              <output id="goals"></output>
              <p>{{this.goals}}</p>
          </li>
          <li class="list-item">
            How many push-ups can you do?
            <input type="range" min="1" max="50" value="25" class="slider" id="myRange" (input)="updatePushUps($event)">
          </li>
          <li class="list-item">
            How do you feel about squats?
            <input type="range" min="1" max="3" value="2" class="slider" id="myRange" (input)="updateSquats($event)">
          </li>
          <li class="list-item">
            How far can you comfortably jog (in miles)?
            <input type="range" min="1" max="10" value="5" class="slider" id="myRange" (input)="updateMiles($event)">
          </li>
          <li class="pulldown">
            <select (input)="updateHeight($event)">
              <option value="male"> Male </option>
              <option value="female"> Female </option>
            </select>
            <p>{{this.sex}}</p>
          </li>
        </div>
      </ul> -->
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a routerLink="/dietaryRestrictions">
        <button type="button" class="next_button" (click)="addUser()" (click)="newUsername()">Next</button>
      </a>
    </div>
  </div>
</div>
