@media (min-width: 769px) {
    /* CSS in here for desktop only */
    .container {
      padding-left: 200px;
      padding-right: 200px;
    }
}

.container {
  background-color: #000000;
}

label {
  color: #CCD0F5;
}

.nav {
  border-radius: 0px;
  background-color:#CCD0F5;
  text-align: center;
}

.nav a {
  color: #33CC33;
}

.next_button {
  width: 100%;
  background-color: #CCD0F5;
  text-align: center;
  color: #33CC33;
}