<router-outlet></router-outlet>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" role="group">
        <a routerLink="/home">
          <button class="btn btn-secondary" type="button">Home</button>
        </a>
        <button class="btn btn-secondary" type="button">Meal</button>
        <a routerLink="/strengthWorkout"><button class="btn btn-secondary" type="button">Workout</button></a>
        <a routerLink="/">
          <button class="btn btn-secondary" type="button">Logout</button>
        </a>
      </div>
      <form role="form">
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input  type="text" 
                  class="form-control" 
                  id="email" 
                  placeholder="Enter email"
                  [value]="text"
                  (input)="updateEmail($event)"/>
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input  type="password" 
                  class="form-control" 
                  id="password" 
                  placeholder="Enter password"
                  [value]="text"
                  (input)="updatePassword($event)"/>
        </div>
        <div class="form-group">
          <label for="ageInput">Age</label>
          <input  type="number" 
                  class="form-control" 
                  id="age" 
                  placeholder="Enter age in years"
                  [value]="text"
                  (input)="updateAge($event)"/>
        </div>
        <div class="form-group">
          <label for="heightInput">Height</label>
          <input  type="text" 
                  class="form-control" 
                  id="height" 
                  placeholder="Enter height in inches"
                  [value]="text"
                  (input)="updateHeight($event)"/>
        </div>
        <div class="form-group">
          <label for="weightInput">Weight</label>
          <input  type="number" 
                  class="form-control" 
                  id="weight" 
                  placeholder="Enter weight in pounds"
                  [value]="text"
                  (input)="updateWeight($event)"/>
        </div>
         <div class="form-group">
          <label for="goals">Goal</label>
          <input  type="number" 
                  class="form-control" 
                  id="goal" 
                  placeholder="Enter goal integer"
                  [value]="text"
                  (input)="updateGoals($event)"/>
        </div>
        <div class="form-group">
          <label for="pushups">Pushups</label>
          <input  type="number" 
                  class="form-control" 
                  id="pushups" 
                  placeholder="How many pushups can you do?"
                  [value]="text"
                  (input)="updatePushUps($event)"/>
        </div>
        <div class="form-group">
          <label for="squats">Squats</label>
          <input  type="number" 
                  class="form-control" 
                  id="squats" 
                  placeholder="How comfortable are you with squats?"
                  [value]="text"
                  (input)="updateSquats($event)"/>
        </div>
        <div class="form-group">
          <label for="miles">Jogging</label>
          <input  type="number" 
                  class="form-control" 
                  id="miles" 
                  placeholder="How far are you comfortable jogging?"
                  [value]="text"
                  (input)="updateMiles($event)"/>
        </div>
      </form>
      <!-- <ul>
        <div class="slidecontainer">
          <li class="list-item">
            Goals
              <input type="range" min="1" max="3" value="2" class="slider" id="myRange">
              <output id="goals"></output>
              <p>{{this.goals}}</p>
          </li>
          <li class="list-item">
            How many push-ups can you do?
            <input type="range" min="1" max="50" value="25" class="slider" id="myRange" (input)="updatePushUps($event)">
          </li>
          <li class="list-item">
            How do you feel about squats?
            <input type="range" min="1" max="3" value="2" class="slider" id="myRange" (input)="updateSquats($event)">
          </li>
          <li class="list-item">
            How far can you comfortably jog (in miles)?
            <input type="range" min="1" max="10" value="5" class="slider" id="myRange" (input)="updateMiles($event)">
          </li>
          <li class="pulldown">
            <select (input)="updateHeight($event)">
              <option value="male"> Male </option>
              <option value="female"> Female </option>
            </select>
            <p>{{this.sex}}</p>
          </li>
        </div>
      </ul> -->
      
      <a routerLink="/dietaryRestrictions">
        <button type="button" class="btn btn-success" (click)="addUser()">Next</button>
      </a>
    </div>
  </div>
</div>
