<router-outlet></router-outlet>
<script src="js/bootstrap.min.js"></script>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Back</a>
        </li>
      </ul>
  <div class="row">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <label for="username">Username</label>
          <input  type="text"
                  class="form-control" 
                  id="username"
                  placeholder="Enter Name"
                  (input)="updateUsername($event)"/>
        </div>
        <div class="form-group">
          <label for="sex">Gender</label>
            <select class="scrollable-menu" id="sex" (click)="updateSex()">
              <option value="f">Female</option>
              <option value="m">Male</option>
              <option value="n/a">Prefer Not to Answer</option>
            </select>
        </div>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input  type="email" 
                  class="form-control" 
                  id="email" 
                  placeholder="Email"
                  (input)="updateEmail($event)"/>
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input  type="password" 
                  class="form-control" 
                  id="password" 
                  [value]="text"
                  (input)="updatePassword($event)"/>
        </div>
        <div class="form-group">
          <label for="questionInput">Security Question</label>
          <select class="scrollable-menu" id="question" (click)="updateSecurityQuestion()">
            <option value="1">What is your mother's maiden name?</option>
            <option value="2">What was the name of the high school you attended?</option>
            <option value="3">What is the name of your favorite pet?</option>
          </select>
          <input  type="question"  
                  class="form-control" 
                  id="securityQuestion" 
                  [value]="text" 
                  (input)="updateSecurityQuestionAnswer($event)"/>
        </div>
        <!-- <div class="dropdown">
        
          <button class="btn btn-primary dropdown-toggle" 
                  type="button" 
                  id="dropdownMenuButton" 
                  data-toggle="dropdown"
                  (click)="">
            Security Question
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item disabled" href="#">What is your mother's maiden name?</a> <a class="dropdown-item" href="#">What was the name of the high school you attended?</a> <a class="dropdown-item"
              href="#">What is the name of your favorite pet?</a>
          </div>
        </div> -->
        <div class="form-group">
          <label for="ageInput">Age</label>
          <input  type="number" 
                  class="form-control" 
                  id="age" 
                  [value]="text"
                  placeholder="Enter Age in Years"
                  (input)="updateAge($event)"/>
        </div>
        <div class="form-group">
          <label for="heightInput">Height</label>
          <input  type="number" 
                  class="form-control" 
                  id="height" 
                  [value]="number"
                  placeholder="Enter Height in Inches"
                  (input)="updateHeight($event)"/>
        </div>
        <div class="form-group">
          <label for="weightInput">Weight</label>
          <input  type="number" 
                  class="form-control" 
                  id="weight" 
                  [value]="text"
                  placeholder="Enter Weight in Pounds"
                  (input)="updateWeight($event)"/>
        </div>
        <div class="form-group">
          <label for="goals">Goals<br /></label>
          <select class="scrollable-menu" id="goalId" (click)="updateGoals()">
            <option value="2">Stay Active</option>
            <option value="1">Lose Weight</option>
            <option value="3">Gain Mass</option>
          </select>
        </div>
        <div class="form-group">
          <label for="pushups">Pushups</label>
          <input  type="number" 
                  class="form-control" 
                  id="pushups" 
                  [value]="text"
                  placeholder="Enter Number of Pushups"
                  (input)="updatePushUps($event)"/>
        </div>
        <div class="form-group">
          <label for="squats">How comfortable are you with squats?</label>
          <select class="scrollable-menu" id="squats" (click)="updateSquats()">
            <option value="2">Moderately Comfortable</option>
            <option value="1">Not At All</option>
            <option value="3">Very Comfortable</option>
          </select>
        </div>
        <div class="form-group">
          <label for="miles">Jogging</label>
          <input  type="number" 
                  class="form-control" 
                  id="miles"
                  [value]="text"
                  placeholder="Enter Distance in Miles"
                  (input)="updateMiles($event)"/>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      
        <button type="button" 
                class="next_button" 
                (click)="addUser()" 
                (click)="newUsername()">Submit</button>
      
    </div>
    <br>
    <br>
    <br>
  </div>
</div>

