
sudo: required
addons:
  chrome: stable

language: node_js
node_js:
  - "8"
cache:
  directories:
    - node_modules

branches:
  only:
    - master
    - sse

before_script:
  - npm install -g @angular/cli

script:
  - ng build --prod --aot
  - jest

