<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="media">
        <img class="mr-3" alt="Alexa_photo" src="../../assets/img/Alexa_rebel.jpg" width=400 height=300 />
      </div>
      <h3>I'm Alexa, I'll be your personal trainer today.</h3>
    </div>
    <div class="col-md-6">
      <div class="media">
        <iframe [src]="trustedUrl" width=400 height=300></iframe>
      </div>
      <h3>{{exercise.name}}</h3>
      <!-- <button (click)="increment()">Next Exercise</button> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>
          Sets
        </h2>
        <p>
          {{set}}
        </p>

      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>
          Reps
        </h2>
        <p>
          {{rep}}
        </p>
        <button (click)="workinDatBody()">Start Rep Count</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button (click)="home()">HOME</button>
    </div>
  </div>
</div>
