<div class="checkbox">

  <label>
    <input type="checkbox" /> Balanced
  </label>
  <label>
    <input type="checkbox" /> High-Fiber
  </label>
  <label>
    <input type="checkbox" /> High-Protein
  </label>
  <label>
    <input type="checkbox" /> Low-Carb
  </label>
  <label>
    <input type="checkbox" /> Low-Sodium
  </label>
  <label>
    <input type="checkbox" /> Alcohol-Free
  </label>
  <label>
    <input type="checkbox" /> Celery-Free
  </label>
  <label>
    <input type="checkbox" /> Crustacean-Free
  </label>
  <label>
    <input type="checkbox" /> Dairy-Free
  </label>
  <label>
    <input type="checkbox" /> Egg-Free
  </label>
  <label>
    <input type="checkbox" /> Fish-Free
  </label>
  <label>
    <input type="checkbox" /> Gluten-Free
  </label>
  <label>
    <input type="checkbox" /> Kidney-Friendly
  </label>
  <label>
    <input type="checkbox" /> Kosher
  </label>
  <label>
    <input type="checkbox" /> Low-Potassium
  </label>
  <label>
    <input type="checkbox" /> Lupine-Free
  </label>
  <label>
    <input type="checkbox" /> Mustard-Free
  </label>
  <label>
    <input type="checkbox" /> No-Added-Oil
  </label>
  <label>
    <input type="checkbox" /> Low-Sugar
  </label>
  <label>
    <input type="checkbox" /> Paleo
  </label>
  <label>
    <input type="checkbox" /> Peanut-Free
  </label>
  <label>
    <input type="checkbox" /> Pescatarian
  </label>
  <label>
    <input type="checkbox" /> Pork-Free
  </label>
  <label>
    <input type="checkbox" /> Red-Meat-Free
  </label>
  <label>
    <input type="checkbox" /> Sesame-Free
  </label>
  <label>
    <input type="checkbox" /> Shellfish-Free
  </label>
  <label>
    <input type="checkbox" /> Soy-Free
  </label>
  <label>
    <input type="checkbox" /> Sugar-Conscious
  </label>
  <label>
    <input type="checkbox" /> Tree-Nut-Free
  </label>
  <label>
    <input type="checkbox" /> Vegan
  </label>
  <label>
    <input type="checkbox" /> Balanced
  </label>
  <label>
    <input type="checkbox" /> Vegetarian
  </label>
  <label>
    <input type="checkbox" /> Wheat-Free
  </label>

</div>