<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="media">
        <img class="mr-3" alt="Alexa_photo" src="https://www.layoutit.com/img/sports-q-c-64-64-8.jpg" />
      </div>
    </div>
    <div class="col-md-6" >
      <p>
        I'm Alexa, I'll be your personal trainer today.
      </p>
      
      <p>Current Exercise: {{exercise.name}}</p>
      <button (click)="increment()">Next Exercise</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>
          Sets
        </h2>
        <p>
          {{set}}
        </p>
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>
          Reps
        </h2>
        <p>
          {{rep}}
        </p>
        <button (click)="workinDatBody()">Start Rep Count</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="media">
        <iframe [src]="trustedUrl"></iframe>
      </div>
    </div>
  </div>
</div>
