@media (min-width: 769px) {
    /* CSS in here for desktop only */
    .container {
      padding-left: 200px;
      padding-right: 200px;
      border: 5px;
    }
}

.container {
  background-color: #000000;
}

.button {
  border-radius: 25px;
  background-color: #CCD0F5;
  color: #33CC33;
  position: absolute;
  width: 93%;
  height: 10%;
}

label {
  color: #33CC33;
}