@media (min-width: 769px) {
    /* CSS in here for desktop only */
    .container {
      padding-left: 200px;
      padding-right: 200px;
      border: 5px;
    }
}

.container {
  background-color: #27213B;
}

.jumbotron {
  background-color: #B73A58;
  border-radius: 10px;
}

.btnAuthenticate {
  border-radius: 5px;
  background-color: #729085;
  color: #F5F4F3;
  font-weight: 900;
  font-size: 2em;
  position: absolute;
  width: 93%;
  height: 30%;
}

label {
  color: #F5F4F3;
}