<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="card">
            <h5 class="card-header">
              HomeFit™
            </h5>
            <div class="card-body">
              <!-- <p class="card-text">
                You've been successfully logged out.
              </p> -->
              <div class="form-group">
                <label for="username">Email</label>
                <input  type="text" 
                        class="form-control"
                        id="username" 
                        [value]="text" 
                        placeholder="Enter email address associated with your account"
                        (input)="updateEmail($event)" />
              </div>
              <div class="form-group">
                <label for="questionInput">Security Question</label>
                <select class="scrollable-menu" id="question" (click)="updateSecurityQuestion()">
                  <option value="1">What is your mother's maiden name?</option>
                  <option value="2">What was the name of the high school you attended?</option>
                  <option value="3">What is the name of your favorite pet?</option>
                </select>
                <input type="question" class="form-control" id="securityQuestion" [value]="text" (input)="updateSecurityQuestionAnswer($event)" />
              </div>
              <div>
                <button class="submit" (click)="getSecurityQuestionAnswer()">Submit</button>
              </div>
            </div>
            <div class="card-footer">
              <div>
                <a routerLink="/login">
                  <button class="button">Return to Sign In</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>