@media (min-width: 769px) {
    /* CSS in here for desktop only */
    .container {
      padding-left: 200px;
      padding-right: 200px;
    }
}

.container {
  background-color: #27213B;
}

.card-header {
  background-color:#729085;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.card-body {
  font-family: 'Josefin Sans', sans-serif;
}

.card-footer {
  background-color: #729085;
}

.button {
  background-color:#B73A58;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}