<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="card">
            <h5 class="card-header">
              HomeFit™
            </h5>
            <div class="card-body">
              <!-- <p class="card-text">
                You've been successfully logged out.
              </p> -->
            </div>
            <div class="card-footer">
              <div>
                <a routerLink="/login">
                  <button class="button">Return to Sign In</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>