.row {
  margin-top: 75px
}

.HomeFit_logo {
  display: inline-block;
  text-align: center;
}

.g-signin2 {
  display: inline-block;
}

.alexa_logo {
  margin-bottom: 0px;
}

.op_spark_logo {
  margin-bottom: 0px;
}