<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="500" alt="HomeFit logo" src="/src/images/logo.jpg">
</div>
<h2>Here are some links to help you start: </h2> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <img alt="HomeFit logo" src="/src/images/logo.jpg" />
      <button type="button" class="btn btn-success">
        Log in/Sign Up Google
      </button>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
      <img alt="Bootstrap Image Preview" src="/src/images/resized_alexa_logo.png" />
    </div>
    <div class="col-md-4">
      <img alt="Operation Spark Logo" src="/src/images/resized_op_spark_logo.jpg" />
    </div>
  </div>
</div>

