<router-outlet></router-outlet>
<body>
<div class="container">
  <div id="google_translate_element"></div>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
      }
    </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <!-- remove line once pages are properly switching -->
  <!-- <a routerLink="/home"><button class="btn btn-success"> Home </button></a> -->
  <button class="btn btn-success" (click)="changePage()">Home</button>
  <a routerLink="/settings"><button class="btn btn-success"> Settings </button></a>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <img class="HomeFit_logo" alt="HomeFit logo" src="../../assets/img/updated_homefit_logo.png" />
    </div>
  </div>
  <div class="col-md-4">
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
<a href="https://homefit.auth.us-east-2.amazoncognito.com/login?response_type=token&client_id=72a03puc8nodlimv52094anplc&redirect_uri=https://e.homefitdo.com">
        <button class="sign-in">Sign In</button>
      </a>
      <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row"> 
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <img class="alexa_logo" alt="Alexa logo" src="../../assets/img/resized_alexa_logo.png" />
    </div>
    <div class="col-md-4">
      <img class="op_spark_logo" alt="Operation Spark Logo" src="../../assets/img/resized_op_spark_logo.jpg" />
    </div>
  </div>
</div>
</body>

<router-outlet></router-outlet>
