@media (min-width: 769px) {
    /* CSS in here for desktop only */
    .container {
      padding-left: 200px;
      padding-right: 200px;
    }
    .sign-in_button {
      font-size: 1.5vw;
    }
}

.container {
  background-color: #27213B;
  /* background-color: white */
}

.homeDemo {
  color: #27213B;
}

.HomeFit_logo {
  max-width: 100%;
  max-height: 100%;
  border-width: 0px;
  /* background-color: #27213B; */
}

.sign-in_button {
  /* background-color: #FAA24A; */
  width: 100%;
  height: 100%;
  background-color: #729085;
  color: #F5F4F3;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  /* font-size: 1.5vw; */
}

.op_spark_logo {
  float: right;
  position: relative;
  max-height: 50%;
  max-width: 50%;
}

.google_logo {
  max-height: 50%;
  max-width: 50%;
}

.forgot {
  text-align: center;
}

#copyright {
  font-family: 'Josefin Sans', sans-serif;
  color: #B3B3FF;
}