<router-outlet></router-outlet>
<body>
<div class="container">
  <div id="google_translate_element"></div>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
      }
    </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <br>
  <div class="row">
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 text-center">
      <img class="HomeFit_logo" alt="HomeFit logo" src="../../assets/img/HomeFit_logo_final_centered.png" />
      <p id="copyright" class="text-center">
        © Copyright 2018
      </p>
    </div>
  </div>
  <div class="col-md-2">
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 text-center">
<!-- <a href="https://homefit.auth.us-east-2.amazoncognito.com/login?response_type=token&client_id=72a03puc8nodlimv52094anplc&redirect_uri=https://e.homefitdo.com"> -->
      <a routerLink="/login">
        <button class="sign-in_button">Sign In</button>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a routerLink="/personalInfo">
        <button class="sign-in_button"> Create Account </button>
      </a>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
      <a routerLink="/securityCheck" class="forgot">Forgot username or password?</a>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row"> 
    <div class="col-xs-12 col-md-12">
      <img class="google_logo" alt="Google logo" src="../../assets/img/googleHome.jpg" />
      <img class="op_spark_logo" alt="Operation Spark Logo" src="../../assets/img/Sparky-red.jpg" />
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
</body>

<router-outlet></router-outlet>
