@media (min-width: 769px) {
    /* CSS in here for desktop only */
    .container {
      padding-left: 200px;
      padding-right: 200px;
    }
}

.container {
  background-color: #000000;
}

.homeDemo {
  color: white;
}

.HomeFit_logo {
  max-width: 100%;
  max-height: 100%;
}

.sign-in_button {
  /* background-color: #FAA24A; */
  background-color: #CCD0F5;
  color: #33CC33;
}

.op_spark_logo {
  float: right;
  position: relative;
  max-height: 50%;
  max-width: 50%;
}

.google_logo {
  max-height: 50%;
  max-width: 50%;
}