@media (min-width: 769px) {
    /* CSS in here for desktop only */
    .container {
      padding-left: 200px;
      padding-right: 200px;
    }
}

.container {
  background-color: #27213B;
}

.nav {
  border-radius: 0px;
  background-color:#729085;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif
}

.nav a {
  color: #F5F4F3;
}

.table {
  max-width: 100%;
  /* height: 100%; */
}
h2 {

  font-family: 'Josefin Sans', sans-serif;

  color: #F5F4F3;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  color: #F5F4F3;
  font-family: 'Josefin Sans', sans-serif;
}
td {
  color: #F5F4F3;
}

.submit_button {
  width: 100%;

  height: 7%;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 5px;

  background-color: #B73A58;
  text-align: center;
  position: sticky;
  top: 5px;
  color: #F5F4F3;
  font-family: 'Josefin Sans', sans-serif
}

.input {
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  min-height: 100%;
  display: table-cell;
  border-radius: 5px;
  background-color: #B3B3FF;
  text-align: center;
  color: #F5F4F3;
  font-family: 'Josefin Sans', sans-serif
}

.table-responsive {
  height: 100%;
  width: 100%;
  display: table;
}