.nav {
  border-radius: 0px;
  background-color:#31cd32;
  text-align: center;
}

.nav a {
  color: white;
}

.submit_button {
  width: 100%;
  background-color: #31cd32;
  text-align: center;
  color: white;
}