@media (min-width: 769px) {
    /* CSS in here for desktop only */
    .container {
      padding-left: 200px;
      padding-right: 200px;
    }
}

.container {
  background-color: #27213B;
}

.nav {
  border-radius: 0px;
  background-color:#729085;
  text-align: center;
}

.nav a {
  color: #F5F4F3;
}

h1 {
  color: #F5F4F3;
}

p {
  color: #F5F4F3;
}
td {
  color: #F5F4F3;
}

.submit_button {
  width: 100%;
  background-color: #B73A58;
  text-align: center;
  color: #F5F4F3;
}

.input {
  width: 100%;
  height: 200%;
  border-radius: 15px;
  background-color: #B3B3FF;
  text-align: center;
  color: #F5F4F3;
}