@media (min-width: 769px) {
    /* CSS in here for desktop only */
    .container {
      padding-left: 200px;
      padding-right: 200px;
    }
}

.container {
  background-color: #000000;
}

.nav {
  border-radius: 0px;
  background-color:#CCCCFF;
  text-align: center;
}

.nav a {
  color: white;
}

h1 {
  color: #CCCCFF;
}

p {
  color: #CCCCFF;
}
td {
  color: #CCCCFF;
}

.submit_button {
  width: 100%;
  background-color: #CCCCFF;
  text-align: center;
  color: white;
}