<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/personalInfo'>Account Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/logout">Logout</a>
        </li>
      </ul>
      </div>
    </div>     
    <br>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h2>Exercise: {{name}}</h2>
        <div class="media">
          <iframe class="video" [src]="trustedUrl"></iframe>
        </div>
        <button class="rep_button" (click)="workinDatBody()" *ngIf="start">Start Rep Count</button>
        <button class="rep_button" (click)="answer()" *ngIf="clickMessage">{{clickMessage}}</button>
      </div>
    </div>
    <br>
<!-- <div class="row">
  <div class="row">
    <div class="jumbotron text-center col-mid-6">
      <h1>Become Awesome</h1>
      <p>Here you will learn how to become awesome.</p>
      <a class="btn btn-danger pull-right" href="{% url 'awesome_info' %}">More Info</a>
    </div>

    <div class="jumbotron text-center col-mid-6">
      <h1>Here you will learn how to become super rad.</h1>
      <p>Tubular dude.</p>
      <a class="btn btn-success" href="{% url 'rad_info' %}" role="button">More Info</a>
    </div>
  </div>
</div> -->
  <div class="row">
      <div class="jumbotron text-center col-mid-6">
        <h3>Set: {{set}}</h3>
      </div>
      <div class="jumbotron text-center col-mid-6">
        <h3>Rep: {{rep}}</h3>
      </div>
  </div>
</div>
