@media (min-width: 768px) {
    /* CSS in here for desktop only */
    .container {
      padding-left: 200px;
      padding-right: 200px;
    }
}

@font-face {
	font-family: digital;
	src: url(../../../digital.ttf);
}

.container {
  background-color: #1b1b1b;
}

.nav {
  border-radius: 0px;
  background-color:#31cd32;
  text-align: center;
}

.nav a {
  color: white;
}

img {
  width: 200px;
  height: 200px;
}

iframe {
  position: relative;
  width: 100%;
  height: 100%;
}

.jumbotron {
  background-color: #333366;
  /* background-color: #638493; */
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}
h2 {
  color: #31cd32;
  font-family: sans-serif;
}
h3 {
  font-family: digital;
  font-size: 75px;
  color: #31cd32;
}

.reps_title {
  float: left;
}
.rep_button {
  background-color: #31cd32;
  color: white;
  position: absolute;
  margin-left: 47%;
}
