<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
      </div>
    </div>     
    <br>
    <div class="rowC">
      <div class="col-xs-12 col-md-12">
        <h2>{{name}}</h2>
        <div class="media">
          <iframe class="video" [src]="trustedUrl"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">
        <br>
        <button class="rep_button" (click)="workinDatBody()" *ngIf="start">Start Rep Count</button>
        <button class="rep_button" (click)="answer()" *ngIf="clickMessage">{{clickMessage}}</button>
      </div>
      <div class="col-md-3">
 
      </div>
      </div>
    <br>
    <br>
    <div class="row">
		  <div class="col-md-12">
			  <table class="table-responsive">  
			  	<tbody>
			  		<tr>
			  			<td class="jumbotron text-center">
                  <h3>Set:<br /> {{set}}</h3>
			  			</td>
			  			<td class="jumbotron text-center">
                  <h3>Rep:<br /> {{rep}}</h3>
			  			</td>	
			  		</tr>
			  	</tbody>
			  </table>
		</div>
	</div>
</div>
