<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Logout</a>
        </li>
      </ul>
      </div>
    </div>     
    <br>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h2>Current Exercise: {{exercise.name}}</h2>
        <div class="media">
          <iframe class="video" [src]="trustedUrl"></iframe>
        </div>
      </div>
    </div>
    <br>
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <div class="jumbotron">
        <h3>Set: {{set}}</h3>
        <button class="test-button" (click)="getUserInfo()">Switch</button>
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
        <!-- <h2>Reps</h2> -->
        <div class="jumbotron">
          <h3>Rep: {{rep}}</h3>
          <button class="rep_button" (click)="workinDatBody()">Start Rep Count</button>
        </div>
    </div>
  </div>
</div>
