@media (min-width: 769px) {
    /* CSS in here for desktop only */
    .container {
      padding-left: 200px;
      padding-right: 200px;
    }
}

.container {
  background-color: black;
}

.nav {
  border-radius: 0px;
  background-color:#31cd32;
}

.btn {
  color: red
}

.cal_sun {
  background-color:#31cd32
}

.imageContainer {
  position: relative;
  width:200px; 
  height:200px; 
  background-image: url('../../assets/img/new_orleans_placeholder.jpg')
}

/* h5 {
  position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

h6 {
  position: absolute; 
   top: 220px; 
   left: 0; 
   width: 100%; 
} */