@media (min-width: 769px) {
    /* CSS in here for desktop only */
    .container {
      padding-left: 200px;
      padding-right: 200px;
    }
}

.container {
  background-color: black;
}

.nav {
  border-radius: 0px;
  background-color: #FAA24A;
  /* background-color:#31cd32; */
  text-align: center
}

.nav a {
  color: white
}

.nav a:hover {
  color: grey;
}

.jumbotron {
  background-image: url('../../assets/img/new_orleans_placeholder.jpg');
  border-radius: 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* tr {
  max-width: 100%;
  max-height: 100%;
} */

.fa {
  max-width: 100%;
  max-height: 100%;
}

.mealDescription {
  color: #FAA24A;
}

h4 {
  color: #FAA24A;
}

.btn {
  border-radius: 0px;
  background-color:#FAA24A;
  color: white;
  width: 100%
}

p {
  color: navy;
}
