<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/update">My Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/diet">Diet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</div>
  <div class="row">
      <div class="col-xs-12 col-md-12">
        <h2 class="welcome" *ngIf="user">Welcome {{user.preferred_username}}</h2>
      </div>
  </div>
  <div class="row">
    <div class="col-12" *ngFor="let weather of currentWeather">
      <div class="jumbotron" [style.backgroundImage]="'url('+ weather.url +')'">
        <div class="forecastText">
          <div class="weatherText">
            {{weather.city}}, {{weather.state}} {{weather.temp}}˚
            <div>
              {{weather.text}}
            </div> 
          </div>
          Outdoor Exercise Conditions: {{weather.recommendation}}
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3"></div>
      <!-- <h3>Workout Log</h3> -->
      <div class="col-md-6">
        <a routerLink="/workout"><button class="workoutButton">Workout</button></a>
      </div>
    <div class="col-md-3"></div>
  </div>
<br>
<div class="row">
  <div class="col-xs-12 col-md-12">
      <table class="table" cellpadding="15">
        <thead>
          <tr>
            <th class="day-name">Sun</th>
            <th class="day-name">Mon</th>
            <th class="day-name">Tue</th>
            <th class="day-name">Wed</th>
            <th class="day-name">Thu</th>
            <th class="day-name">Fri</th>
            <th class="day-name">Sat</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let date of dates" class="day"><span class="number">{{date}}</span>
              <div *ngIf="workoutDates.includes(date)"><span class="checkmark">&#10003;</span></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>  
  <div class="col-md-12" *ngIf="imageUrls">
      <slideshow 
      [imageUrls]=imageUrls
      [height]="height"
      [minHeight]="'200px'"
      [autoPlay]="true"
      [showArrows]="false"
      ></slideshow> 
  </div> 
  <br>
  <br>
  <br>
</div>
